.notepad-textarea {
    box-sizing: border-box;
    display: flexbox;
    padding: 0px 10px 0px 10px;
    width: 100%;
    resize: none;
    /* Using this property when click border is geeting highlighest looking bad as per user experiance*/
    outline: none;
    background-color: #f9f9f9;
}

.notepad-textarea:focus :focus {
    border: 1px solid red;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    align-items: center;
}

.heading {
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: transparent;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    background-clip: text;
    -webkit-background-clip: text;
}

.header-button {
    margin: 2.5px 2.5px 2.5px 2.5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    color: white;
    background-color: #DF2935;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}