<!-- Header Conatiner -->
<ng-container>
  <div class="header">
    <h6>Notes Application</h6>
    <div>
      <label>Session Storage</label>
      <div class="input-checkbox">
        <input type="checkbox" [(ngModel)]="storageType" />
      </div>
      <label>Local Storage</label>
    </div>
    <!-- <div>
      <label>Text Size</label
      ><input
        class="range-input"
        type="range"
        class=""
        min="10"
        max="20"
        [(ngModel)]="textSizeProperty"
        (input)="changeTextSize($event)"
      />
    </div> -->
    <div>
      <a class="button-dev" (click)="openPortfolioCode()">{{ dev }}</a>
    </div>
  </div>
</ng-container>
<!-- Text Box Area Container -->
<ng-container>
  <textarea
    [style]="{ 'font-size': textSizeProperty + 'px' }"
    class="notepad-textarea no-scroll"
    placeholder="Write Here..."
    (input)="textAreaInput($event)"
    wrap="hard"
    spellcheck="false"
    rows="50"
    >{{ inputValue }}</textarea
  >
</ng-container>
