/* Header css -s */
.header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
    overflow: hidden;
}

.header h6 {
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: transparent;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    background-clip: text;
    -webkit-background-clip: text;
}

.header div {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    display: inline-flex;
}

.header div label {
    margin: 3px 3px 3px 4px;
    color: transparent;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    background-clip: text;
    -webkit-background-clip: text;
}

.header div a {
    cursor: pointer;
}

/* Header css -e */


/* notepad aka textares css -s */
.notepad-textarea {
    box-sizing: border-box;
    display: flexbox;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: auto;
    resize: none;
    /* Using this property when click border is geeting highlighest looking bad as per user experiance*/
    outline: none;
    background-color: #f9f9f9;
}

.notepad-textarea:focus :focus {
    border: 1px solid red;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

/* notepad aka textares css -e */

/* Animated related all code */
/* input checkbox css -s*/
.input-checkbox input[type="checkbox"] {
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)),
        -webkit-linear-gradient(left, #fd1d1d 50%, #6cf 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5),
        inset 0 0 10px hsla(0, 0%, 0%, .5),
        0 0 0 1px hsla(0, 0%, 0%, .1),
        0 -1px 2px 2px hsla(0, 0%, 0%, .25),
        0 2px 2px 2px hsla(0, 0%, 100%, .75);
    cursor: pointer;
    height: 15px;
    padding-right: 25px;
    width: 75px;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}

.input-checkbox input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
        inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25),
        0 1px 3px 1px hsla(0, 0%, 0%, .5),
        0 0 2px hsla(0, 0%, 0%, .25);
    content: '';
    display: block;
    height: 15px;
    width: 50px;
}

.input-checkbox input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}

/* input checkbox css -e*/

/* a input button css -s */
.button-dev,
.button-dev:after {
    text-transform: capitalize;
    padding: 0px 0px 0px 25px;
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-dev:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'GitHub Profile';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-dev:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {

    .button-dev,
    .button-dev:after {
        width: 200px;
        height: 30px;
        line-height: 30px;
    }
}

/* a input button css -s */